/* Statistics Section */
.stats-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
  }
  
  .stat {
    text-align: center;
    color: #fff;
  }
  
  .stat h3 {
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 0.5rem;
  }
  
  .stat h3 span {
    font-size: 1.5rem;
    color: #d4af37;
    margin-left: 0.2rem;
  }
  
  .stat p {
    font-size: 1rem;
    color: #aaa;
    margin-right: 60px;
  }
  