.comment-section {
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 80px;
  color: #333;
}

.comment {
  display: flex;
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.comment:last-child {
  border-bottom: none;
}

.commenter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.comment-content {
  flex: 1;
}

.comment-content h4 {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.comment-content span {
  display: block;
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 10px;
}

.comment-content p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 10px;
}

.reply-button {
  background-color: transparent;
  color: #555;
  border: 1px solid #ccc;
  padding: 15px 30px;
  font-size: 9rem;
  border-radius: 5px;
  cursor: pointer;
  
  
}

.reply-button:hover {
  background-color: #f0f0f0;
  
}
