.team-section {
    background-color: #0a0c10;
    color: #ffffff;
    text-align: center;
    padding: 50px 20px;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  
  .team-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .team-card {
    background-color: #141820;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .team-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .team-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .team-role {
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: #9aa0ac;
    margin-right: 50px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .icon {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: #007bff;
  }
  