.dream-home-container {
    padding: 6rem 2rem;
    background: url('Stair.jpeg') center center/cover no-repeat;
    color: white;
    text-align: center;
  }
  
  .dream-home-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    display: inline-block;
    border-radius: 10px;
  }
  
  .dream-home-content button {
    margin-top: 1rem;
    background-color: #b19777;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  