.vision-mission-container {
  background-color: #0d0d0d; /* Dark background */
  color: #fff;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Serif', sans-serif;
  margin-bottom: 20px; /* Added margin to create better spacing */
}

.content {
  display: flex;
  align-items: center;
   
  flex-wrap: wrap;
  padding: 20px; 
}

.image-container img {
  max-width: 100%;
  height: 60vh;
  width: 40vw;
  border-radius: 10px;
  margin-left: 100px;
}

.text-section {
  display: flex;
  gap: 20px; 
  flex-wrap: wrap;

  
}

.text-block {
  margin-right:10px;
  flex-direction: row;
  
}

.text-block h3 {
  font-size: 1.5rem;
  margin-left: 20px;
}

.text-block p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.text-block ul {
  list-style: none;
  padding: 0;
}

.text-block ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px; 
}

.text-block ul li::before {
  content: '✔';
  position: absolute;
  left: 0; /* Adjusted position for alignment */
  color: #ffc107; /* Gold color for checkmark */
  margin-left: 90px;
}

.discover-button {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #d4af37; /* Gold button */
  color: #0d0d0d;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.discover-button:hover {
  background-color: #b89530;
}
